body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial;
}

.calculator {
    width: 250px;
    background: #222;
    padding: 20px;
    border-radius: 12px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
}

.clear {
    grid-column: span 4;
    background: red;
    color: white;
}